IO_LOC   "clk"    E2;
IO_PORT  "clk"    IO_TYPE=LVCMOS33;
IO_LOC   "rst"    H10;
IO_PORT  "rst"    IO_TYPE=LVCMOS33;


IO_LOC   "LP_CLK"  L11;
IO_PORT  "LP_CLK"  IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC   "LATCH"   K11;
IO_PORT  "LATCH"   IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC   "NOE"     K5;
IO_PORT  "NOE"     IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC   "ROW[0]"  A10;
IO_PORT  "ROW[0]"  PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "ROW[1]"  A11;
IO_PORT  "ROW[1]"  PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "ROW[2]"  E10;
IO_PORT  "ROW[2]"  PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "ROW[3]"  E11;
IO_PORT  "ROW[3]"  PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "ROW[4]"  C11;
IO_PORT  "ROW[4]"  PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC   "RGB0[0]" G10;
IO_PORT  "RGB0[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "RGB0[1]" G11;
IO_PORT  "RGB0[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "RGB0[2]" D10;
IO_PORT  "RGB0[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "RGB1[0]" B10;
IO_PORT  "RGB1[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "RGB1[1]" B11;
IO_PORT  "RGB1[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC   "RGB1[2]" C10;
IO_PORT  "RGB1[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


