BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "rst" SITE "R7";
IOBUF PORT     "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "LP_CLK" SITE "M3";
IOBUF PORT     "LP_CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "LP_CLK" 25.0 MHz;
LOCATE COMP    "LATCH" SITE "N1";
IOBUF PORT     "LATCH" IO_TYPE=LVCMOS33;
LOCATE COMP    "NOE" SITE "M4";
IOBUF PORT     "NOE" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[0]" SITE "N5";
IOBUF PORT     "ROW[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[1]" SITE "N3";
IOBUF PORT     "ROW[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[2]" SITE "P3";
IOBUF PORT     "ROW[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[3]" SITE "P4";
IOBUF PORT     "ROW[3]" IO_TYPE=LVCMOS33;
LOCATE COMP    "ROW[4]" SITE "N4";
IOBUF PORT     "ROW[4]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[0]" SITE "J13";
IOBUF PORT     "RGB0[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[1]" SITE "K13";
IOBUF PORT     "RGB0[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB0[2]" SITE "J12";
IOBUF PORT     "RGB0[2]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[0]" SITE "H13";
IOBUF PORT     "RGB1[0]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[1]" SITE "H12";
IOBUF PORT     "RGB1[1]" IO_TYPE=LVCMOS33;
LOCATE COMP    "RGB1[2]" SITE "G12";
IOBUF PORT     "RGB1[2]" IO_TYPE=LVCMOS33;
